.App {
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button {
  margin: 5ch;
  padding: 2ch;
  color: red;
  background: pink;
  border: 1px solid rebeccapurple;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .5ch;
  font-weight: bolder;
  border-radius: .5ch;
  transition: all .2s ease-in-out;
}
button:hover {
  background: rebeccapurple;
  border: 1px solid black;
  color: white;
}
button:disabled {
  background: green;
  color: black;
  border: 1px solid black;
}

.list {

}